<head>
  {% if title %}{% capture pageTitle %}{{ title }}{% endcapture %}
  {% else %}{% capture pageTitle %}{{ site.title }}{% endcapture %}
  {% endif %}

  {% if excerpt %}{% capture pageDescription %}{{ excerpt }}{% endcapture %}
  {% else %}{% capture pageDescription %}{{ site.description }}{% endcapture %}
  {% endif %}

  {% capture url %}{{ page.url | prepend: site.url }}{% endcapture %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ pageTitle }}</title>
  <meta name="description" content="{{ pageDescription }}">
  <link rel="canonical" href="{{ url }}">
  {% if type == 'post' %}
  <meta name="author" content="Jeremias Menichelli">
  {% endif %}

  <!-- favicon definitions -->
  {% include 'favicons' %}

  <!-- include inline styles -->
  {% capture stylesPath %}styles/{{type}}{% endcapture %}
  <style>{% include stylesPath %}</style>

  <!-- include inline scripts -->
  <script>{% include 'scripts/inline' %}</script>

  <!-- analytics -->
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-50290926-1', 'auto');
    ga('send', 'pageview');
    </script>
  <script defer src='https://www.google-analytics.com/analytics.js'></script>

  <!-- structured data -->
  {% if type == 'home' %}{% include 'structured-data/home' %}
  {% elsif type == 'post' %}{% include 'structured-data/post' %}
  {% else %}{% include 'structured-data/page' %}
  {% endif %}

  <!-- twitter card meta -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@jeremenichelli">
  <meta name="twitter:creator" content="@jeremenichelli" />
  <meta name="twitter:title" content="{{ pageTitle }}">
  <meta name="twitter:description" content="{{ pageDescription }}">
  <meta name="twitter:url" content="{{ url }}">
  <meta name="twitter:image" content="{{ site.url }}/assets/images/twitter-card-image.jpeg">
</head>

<!-- force all font families to be loaded -->
<div aria-hidden="true" tab-index="-1" style="position:fixed;top: -9999em;">
  <span>BESbwy</span>
  <span style="font-style: italic;">BESbwy</span>
  <span style="font-weight: 700;">BESbwy</span>
</div>
