<head>
  {% capture url %}{{ page.url | prepend: site.url }}{% endcapture %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>{{ title }}</title>
  <meta name="description" content="{{ excerpt }}">

  {% if external_url %}
    <link rel="canonical" href="{{ external_url }}">
  {% else %}
    <link rel="canonical" href="{{ url }}">
  {% endif %}
  
  {% if type == 'post' %}
    <meta name="author" content="{{ site.author }}">
  {% endif %}

  <!-- favicon definitions -->
  {% include 'generated/favicons' %}

  <!-- structured data -->
  <script type="application/ld+json">
  {% if type == 'post' %}
    {% include 'structured-data/post' %}
  {% else %}
    {% include 'structured-data/page' %}
  {% endif %}
  </script>

  <!-- open graph meta -->
  {% if type == 'post' %}
    {% include 'open-graph/post' %}
  {% else %}
    {% include 'open-graph/page' %}
  {% endif %}

  <!-- twitter card meta -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@jeremenichelli">
  <meta name="twitter:creator" content="@jeremenichelli" />
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ excerpt }}">
  <meta name="twitter:url" content="{{ url }}">
  <meta name="twitter:image" content="{{ site.logo }}">

  <!-- preload font files, empty crossorigin attribute added to prevent Chrome from complaining -->
  <link rel="preload" href="/assets/fonts/Inter-Regular-subset.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/Inter-Italic-subset.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/Inter-Bold-subset.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/Inter-ExtraBold-subset.woff2" as="font" type="font/woff2" crossorigin>

  <!-- include inline styles -->
  {% capture stylesPathPartial %}generated/styles/{{type}}{% endcapture %}
  <style>{% include stylesPathPartial %}</style>

  <!-- include inline scripts -->
  <script>{% include 'generated/scripts/inline' %}</script>

  <!-- main javascript -->
  <script src="/assets/js/main.js" defer></script>
  <!-- instant page to speed up inner navigation -->
  <script src="/assets/js/instant-page.js" defer></script>
</head>
