<!DOCTYPE html>
<html lang="en" class="no-js">
  {% include 'head' %}
  <body>
    <button class="dark--toggle" aria-label="Toggle dark mode"></button>
    {% include 'nav' %}
    {% include 'header' %}
    <main id="main" role="main">
      <div class="container main__container">
        {% if excerpt %}
          <p class="page__excerpt">
            {{ excerpt | markdownify }}
          </p>
        {% endif %}
        
        {% if external_url %}
          <p class="page__note">
            This article was <a href="{{ external_url }}">originally published</a> at <a href="{{ host_url }}">{{ host }}</a>
          </p>
        {% endif %}

        {{ content }}
      </div>
    </main>
    {% include 'footer' %}
  </body>
</html>
